Program for collecting the River Discharge Infromation With API

In [1]:
import requests
import pandas as pd

In [2]:
#Defining the api path
#https://flood-api.open-meteo.com/v1/flood?latitude=59.91&longitude=10.75&daily=river_discharge,river_discharge_mean,river_discharge_max,river_discharge_min&start_date=2010-01-01&end_date=2023-08-01

In [3]:
#requesting this api
response=requests.get("https://flood-api.open-meteo.com/v1/flood?latitude=59.91&longitude=10.75&daily=river_discharge,river_discharge_mean,river_discharge_max,river_discharge_min&start_date=2010-01-01&end_date=2023-08-01")
response

In [13]:
df=pd.DataFrame(response.json()['daily'])

In [14]:
df

,time,river_discharge,river_discharge_mean,river_discharge_max,river_discharge_min
0,2010-01-01,3.43,NaN,3.43,3.43
1,2010-01-02,3.36,NaN,3.36,3.36
2,2010-01-03,3.35,NaN,3.35,3.35
3,2010-01-04,3.32,NaN,3.32,3.32
4,2010-01-05,3.29,NaN,3.29,3.29
...,...,...,...,...,...
4956,2023-07-28,7.71,1.86,7.71,7.71
4957,2023-07-29,6.82,2.04,6.82,6.82
4958,2023-07-30,8.20,1.65,8.20,8.20
4959,2023-07-31,8.82,1.66,8.82,8.82
4960,2023-08-01,7.91,1.86,7.91,7.91

In [10]:
df.isnull().sum()

time                       0
river_discharge            0
river_discharge_mean    4687
river_discharge_max        0
river_discharge_min        0
dtype: int64

In [18]:
df['river_discharge'].count()

4961

In [19]:
df['river_discharge_mean'].count()

274

In [24]:
#conclusion :- we dosn't need to consider the mean value because in this the imbalanced feature
# Another min& max is same like river-discharge so we only need river discharge so we can remove these from api parameter

#Ans i like to autome this because its about only 1 city and we need for 10 cityes then

In [25]:
#City and its longitude details
city={'Dhaka':[23.8103,90.4125],'Chittagong':[22.3569,91.7832],'Rajshahi':[24.3740,88.6042],
      'Barisal':[22.7020,90.3466],'Khulna':[22.8456,89.5403],'Narayanganj':[23.6337,90.5000],
      'Mymensigh':[24.7471,90.4203],'Sylhet':[24.8949,91.8687],'Comilla':[23.4619,91.1859],'Bogra':[24.8483,89.3773]}

In [31]:
city_list=list(city.keys())

In [33]:
city_list

['Dhaka',
 'Chittagong',
 'Rajshahi',
 'Barisal',
 'Khulna',
 'Narayanganj',
 'Mymensigh',
 'Sylhet',
 'Comilla',
 'Bogra']

In [34]:
Location=list(city.values())

In [35]:
Location

[[23.8103, 90.4125],
 [22.3569, 91.7832],
 [24.374, 88.6042],
 [22.702, 90.3466],
 [22.8456, 89.5403],
 [23.6337, 90.5],
 [24.7471, 90.4203],
 [24.8949, 91.8687],
 [23.4619, 91.1859],
 [24.8483, 89.3773]]

In [37]:
for i in city_list:
    print(i)

Dhaka
Chittagong
Rajshahi
Barisal
Khulna
Narayanganj
Mymensigh
Sylhet
Comilla
Bogra

In [43]:
#get data for ecah city according to its lati&longi detail and after that saving the file with city name

In [42]:
z=0
for i in range(10):
    print(city_list[i])
    response = requests.get("https://flood-api.open-meteo.com/v1/flood?latitude={}&longitude={}&daily=river_discharge,&start_date=2009-01-01&end_date=2023-08-17".format(Location[i][z],Location[i][z+1]))
    data = pd.DataFrame(response.json()['daily'])
    city_name="{}.csv".format(city_list[i])
    data.to_csv(city_name, index=False)

Dhaka
Chittagong
Rajshahi
Barisal
Khulna
Narayanganj
Mymensigh
Sylhet
Comilla
Bogra